import { signalStore, withState } from '@ngrx/signals';
import { <%= className %> } from '@wfi/<%= fileName %>/domain';
import { with<%= className %>Sync } from './<%= fileName %>.sync';
import { with<%= className %>Commands } from './<%= fileName %>.commands';

export interface <%= className %>State {
    items: <%= className %>[];
    loading: boolean;
    error: string | null;
}

const initialState: <%= className %>State = {
    items: [],
    loading: false,
    error: null
};

export const <%= className %>Store = signalStore(
    { providedIn: 'root' },
    withState(initialState),
    with<%= className %>Sync(),
    with<%= className %>Commands()
);
